/*home.html CSS file*/

/*FONTS*/
@font-face {
	font-family: "manrope";
	src: url("Manrope-Regular.ttf");
}
@font-face {
	font-family: "lemon";
	src: url("LEMONMILK-Regular.otf")
}

/*CSS STYLING*/

/*BODY*/
body{
	background-color: darkslategray;
    overflow-x: hidden;
}

/*NAVBAR*/
.nav-link{
	color: #f5f5f5;
}
.nav-item {
	font-size: 20px;
	font-family: manrope;
	margin-left: 1.5vw;
	margin-top: 2vh;
}
i{
	color: #f5f5f5;
	margin-right: 1vw;
}
i:hover{
	color: #1794fe;
}

/*CONTENT*/
.images{
    width: 99vw;
    object-fit: contain;
}

/*LOGO*/
.logo {
	margin-top: -5vh;
	margin-left: 3vw;
	color: #f5f5f5;
}
.logo a {
	font-family: lemon;
	color: inherit;
	text-decoration: inherit;
	font-size: 40px;
}
.logo p {
	font-family: manrope;
}